<%= form_for @user, url: wizard_path, html: {id:'msform'} do |f| %>

<ul id="progressbar">
  <li>Account Setup</li>
  <li  class="active">Personal Details</li>
  <li>Let's Shop</li>
</ul>


<fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We'll only use this information to give you a better shopping experience.</h3>

    <div class="field">
      <%= f.text_field :name, placeholder: "First Name" %>
    </div>

    <div class="fs-subtitle">
    <%= f.label "Bust: ", :class => "space" %>
    <%= f.select :bust, (32..40) %>
    <%= f.label " inches"%>

    </div>


    <div class="fs-subtitle">
    <%= f.label "Waist: ", :class => "space"  %>
    <%= f.select :waist, (23..51)  %>
    <%= f.label " inches"%>
    </div>


    <div class="fs-subtitle">
    <%= f.label "Hips: ",  :class => "space" %>
    <%= f.select :hips, (32..50)  %>
    <%= f.label " inches"%>
    </div>


  <%= f.submit "Continue", :class => 'submit action-button' %>

  </fieldset>

<% end %>
