<%= form_for @user, url: wizard_path, html: {id:'msform'} do |f| %>

<ul id="progressbar">
  <li>Account Setup</li>
  <li  class="active">Personal Details</li>
  <li>Let's Shop</li>
</ul>




<fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We'll only use this information to give you a better shopping experience.</h3>

    <div class="field">
    <%= f.label "Bust" %> <br />
    <%= f.select(:bust, options_for_select([[32, 32], [33, 33]])) %>
    </div>


    <div class="field">
    <%= f.label :waist %> <br />
    <%= f.select :waist, (23..51)  %>
    <!-- options_for_select([[23, 23], [24, 24], [25, 25], [26, 26], [27, 27]])) -->
    </div>

<!--
    <label class="fs-subtitle">Waist:</label>
    <select name="waist" class="m-input">
      <option value="23">23 inches</option>
      <option value="24">24 inches</option>
      <option value="25">25 inches</option>
      <option value="26">26 inches</option>
      <option value="27">27 inches</option>
      <option value="28">28 inches</option>
      <option value="29">29 inches</option>
      <option value="30">30 inches</option>
      <option value="31">31 inches</option>
      <option value="32">32 inches</option>
      <option value="33">33 inches</option>
      <option value="34">34 inches</option>
      <option value="35">35 inches</option>
      <option value="36">36 inches</option>
      <option value="37">37 inches</option>
      <option value="38">38 inches</option>
      <option value="39">39 inches</option>
      <option value="40">40 inches</option>
      <option value="41">41 inches</option>
      <option value="42">42 inches</option>
      <option value="43">43 inches</option>
      <option value="44">44 inches</option>
      <option value="45">45 inches</option>
      <option value="46">46 inches</option>
      <option value="47">47 inches</option>
      <option value="48">48 inches</option>
      <option value="49">49 inches</option>
      <option value="50">50 inches</option>
      <option value="51">51 inches</option>

    </select><br><br>



    <label class="fs-subtitle">Bust:&nbsp;</label>
    <select name="bust" class="m-input">
      <option value="32">23 inches</option>
      <option value="33">24 inches</option>
      <option value="34">25 inches</option>
      <option value="35">26 inches</option>
      <option value="36">27 inches</option>
      <option value="37">28 inches</option>
      <option value="38">29 inches</option>
      <option value="39">30 inches</option>
      <option value="40">31 inches</option>
    </select><br><br>


    <label class="fs-subtitle">Hips:&nbsp;</label>

    <select name="hips" class="m-input">

      <option value="32">32 inches</option>
      <option value="33">33 inches</option>
      <option value="34">34 inches</option>
      <option value="35">35 inches</option>
      <option value="36">36 inches</option>
      <option value="37">37 inches</option>
      <option value="38">38 inches</option>
      <option value="39">39 inches</option>
      <option value="40">40 inches</option>
      <option value="41">41 inches</option>
      <option value="42">42 inches</option>
      <option value="43">43 inches</option>
      <option value="44">44 inches</option>
      <option value="45">45 inches</option>
      <option value="46">46 inches</option>
      <option value="47">47 inches</option>
      <option value="48">48 inches</option>
      <option value="49">49 inches</option>
      <option value="50">50 inches</option>
    </select><br><br>




    <input type="button" name="next" class="next action-button" value="Next" />
-->
    <!-- <input type="submit" name="submit" class="submit action-button" value="Submit" /> -->
<input type="button" name="previous" class="previous action-button" value="Previous" />
<%= f.submit "Continue", :class => 'submit action-button' %>

  </fieldset>

<% end %>
