

        <%= form_for @collections_dress do |f| %>


        <fieldset>
            <h2 class="fs-title">Add Item to One of Your Collections</h2>
            <h3 class="fs-subtitle">Select one of your collections from the choices below to add this item.</h3>



            <div class="fs-subtitle">
            <%= f.label "Collection", :class => "space" %>
          <!--  <%= f.select(:collection_id, options_for_select(@collections.collect{ |u| [u.id] })) %> -->

      <!--<%= f.collection_select(:collection_id, @collections.all, :id, :description) %> -->
          <%= select_tag 'collection_id', options_for_select(@collections.collect{ |u| [u.id, u.id] }) %>
          <!--  <%= f.select :collection, (32..45) %> -->

            </div>

  <%= f.submit "Add", :class => 'submit action-button' %>

          </fieldset>

        <% end %>
