<!DOCTYPE html>
<html>
  <head>
    <title>Sizafy2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'dresses' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>


<section class="hero-logo">
Sizafy
</section>




<section class="filter">
  <ul id="filter-items">
  <li>Size (00, XXS) &nbsp;▼
  <li>Color &nbsp;▼
  <li>Price ($50 - $100) &nbsp;▼
  <li>Rating (Above 4 Stars) &nbsp;▼
</ul>
</section>

<section class="sidebar"><h3>Clothing:</h3><br><a href="#">Dresses</a><br><a href="#">Tops</a><br><a href="#">Bottoms</a><br></section>


<section class="card-container">


    <% @dress_xl.each do |result| %>



  <article class="card">
      <figure class="card__thumbnail">
          <!--<%= image_tag("b.png", class: "clothing_image") %>-->

      </figure>
      <main class="card__description">
          <h6><%= result["name"] %></h5>
          <p><%= result["brand"]%><br/></p>
          <p><strong> $<%= result["price"]%></strong></p>
            <p><%= result["brand"]%><br/></p>
              <p><%= result["size"]%><br/></p>

          <!--  <%= image_tag("3-5.png", class: "rating") %> -->

      </main>
      <a href="#" class="button"><i class="fas fa-shopping-cart"></i> Shop</a>

  </article>
  <%end%>

</section>

</body>
</html>
